<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Makerprofiles" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#F9FAFA] group/design-root overflow-x-hidden" style='font-family: "Space Grotesk", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#EEEFF2] px-10 py-3">
          <div class="flex items-center gap-4 text-[#1C1D22]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M24 18.4228L42 11.475V34.3663C42 34.7796 41.7457 35.1504 41.3601 35.2992L24 42V18.4228Z"
                  fill="currentColor"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M24 8.18819L33.4123 11.574L24 15.2071L14.5877 11.574L24 8.18819ZM9 15.8487L21 20.4805V37.6263L9 32.9945V15.8487ZM27 37.6263V20.4805L39 15.8487V32.9945L27 37.6263ZM25.354 2.29885C24.4788 1.98402 23.5212 1.98402 22.646 2.29885L4.98454 8.65208C3.7939 9.08038 3 10.2097 3 11.475V34.3663C3 36.0196 4.01719 37.5026 5.55962 38.098L22.9197 44.7987C23.6149 45.0671 24.3851 45.0671 25.0803 44.7987L42.4404 38.098C43.9828 37.5026 45 36.0196 45 34.3663V11.475C45 10.2097 44.2061 9.08038 43.0155 8.65208L25.354 2.29885Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <a href="/" class="text-[#1C1D22] text-lg font-bold leading-tight tracking-[-0.015em]">Makers</a>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <%= if @current_user do %>
                <span class="text-[#1C1D22] text-sm font-medium leading-normal" href="#"><%= @current_user.profile.name %></span>
                <div class="dropdown dropdown-end">
                  <div tabindex="0" role="button">
                    <%= if @current_user.profile.profile_image_location do %>
                      <div class="avatar flex items-center justify-center">
                        <div class="w-10 rounded-full shadow-2xl">
                          <img src={@current_user.profile.profile_image_location} alt="#{@profile.name}'s profile image" />
                        </div>
                      </div>
                    <% else %>
                      <div class="w-10 h-10 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor"> 
                          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                        </svg>
                      </div>
                    <% end %>              
                  </div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                    <li>
                      <.link
                        href={~p"/profiles/me"}
                        class="text-[#1C1D22] text-sm font-medium leading-normal hover:text-zinc-700"
                      >
                        My Profile
                      </.link>                    
                    </li>
                    <li>
                      <.link
                        href={~p"/users/settings"}
                        class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                      >
                        Account Settings
                      </.link>
                    </li>
                    <li>
                      <.link
                        href={~p"/users/log_out"}
                        method="delete"
                        class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                      >
                        Log out
                      </.link>
                    </li>
                  </ul>
                </div>
              <% else %>
                <.link
                  href={~p"/users/register"}
                  class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                >
                  Register
                </.link>
                <.link
                  href={~p"/users/log_in"}
                  class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
                >
                  Log in
                </.link>
              <% end %>
            </div>
          </div>
        </header>
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
